.header {
    display: flex;
    flex-direction: column;
}

.game-title {
    text-align: center;
    border: red solid 1px;
    margin: 30px 0px 0px 0px;
    padding: 5px;
}

.game-info {
    text-align: center;
    border: blue solid 1px;
    margin: 20px 0px 0px 0px;
    padding: 5px;
}

.play-game {
    margin: 30px 0px 0px 0px;
    align-self: center;
}

.button {
    width: 10em;
    height: 4em;
}

.main-container {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0px 0px 0px;
    border: red solid 1px;
}